.button {
  border: none;
  background-color: #4b4e79;
  width: 100%;
  color: white;
  padding: 1rem 3rem;
  cursor: pointer;
  font-size: 1.6rem;
}

@media (min-width: 1200px) {
  .button {
    width: initial;
  }
}
